<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" IgnorableNamespaces="uap mp uap3">
  <Identity Name="ce9ae943-df20-4a6b-b9a0-d4f6640d3d55" Publisher="CN=Yair" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="ce9ae943-df20-4a6b-b9a0-d4f6640d3d55" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>MainUI_UWP</DisplayName>
    <PublisherDisplayName>Yair</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MainUI_UWP.App">
      <uap:VisualElements DisplayName="MainUI_UWP" Square150x150Logo="Assets\StoreLogo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="MainUI_UWP" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileSavePicker">
          <uap:FileSavePicker>
            <uap:SupportedFileTypes>
              <uap:FileType>.pdf</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileSavePicker>
        </uap:Extension>
        <uap:Extension Category="windows.fileOpenPicker">
          <uap:FileOpenPicker>
            <uap:SupportedFileTypes>
              <uap:FileType>.pdf</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileOpenPicker>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="allJoyn" />
    <Capability Name="codeGeneration" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="appointments" />
    <uap3:Capability Name="backgroundMediaPlayback" />
    <uap:Capability Name="blockedChatMessages" />
    <uap:Capability Name="chat" />
    <uap:Capability Name="contacts" />
    <uap:Capability Name="enterpriseAuthentication" />
    <uap:Capability Name="objects3D" />
    <uap:Capability Name="phoneCall" />
    <uap:Capability Name="picturesLibrary" />
    <uap3:Capability Name="remoteSystem" />
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="sharedUserCertificates" />
    <uap:Capability Name="userAccountInformation" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="voipCall" />
    <uap3:Capability Name="userNotificationListener" />
    <DeviceCapability Name="bluetooth" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="proximity" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>